<h3>Kommenttiosio</h3>
{% if session.username %}
    Lähetä kommentti:
    <form action="/recipe?recipe_id={{ recipe_id }}" method="POST">
    <textarea name="new_comment_text" rows="3" cols="25">{{ comment_to_edit.content or '' }}</textarea>
    <br />
    {% if comment_to_edit %}
        <input type="submit" name="save_edit" value="Tallenna">
        <input type="hidden" name="comment_to_edit_id" value="{{ comment_to_edit.id }}">
    {% else %}
        <input type="submit" name="send_comment" value="Lähetä">
    {% endif %}
    </form> 
{% endif %}
{% for comment in comments %}
    {% include "comment.html" %}
{% endfor %}