<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<title>Ruokaideoita - {% block title %}{% endblock %}</title>
<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Etusivu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/browse_recipes">Selaa reseptejä</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user_list">Käyttäjät</a>
            </li>       
            {% if session.username %}
                <li class="nav-item">
                    <a class="nav-link" href="/recipe_form/#new_recipe">Lisää resepti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Kirjaudu ulos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user?username={{ session.username }}">
                        {{ session.username }}
                    </a>
                </li>
            {% else %}
               <li class="nav-item">
                    <a class="nav-link" href="/login">Kirjaudu sisään</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}{% endblock %}
    <hr />
    Toteutettu harjoitustyönä, osana Helsingin yliopiston tietojenkäsittelytieteen opintojaksoa Tietokantasovellus [TKT20011], periodi 1, 2022-2023
    <br>
    <a href="https://github.com/aleksinuora/reseptit">github</a>
</div>
