{% extends "layout.html" %}
{% block title %}Uusi resepti{% endblock %}
{% block content%}
<h2>Uusi resepti</h2>
<a name="new_recipe"></a>
<form action="/recipe_form/" method="POST">
Reseptin nimi:
<input type="text" name="name" value="{{ recipe.name or 'nimi' }}">
<br>
Passiivinen valmistusaika:
<input type="text" pattern="(\d+t|) (([0-5])(\d)m|0)" name="passive_time" value="{{ recipe.passive_time or '0t 00m' }}" size="2"> 
<br>
Aktiivinen valmistusaika:
<input type="text" pattern="(\d+t|) (([0-5])(\d)m|0)" name="active_time" value="{{ recipe.active_time or '0t 00m' }}" size="2">
<br>
{% for i in range(ingredient_lines or 1) %}
{% include "ingredient_line.html" %}
{% endfor %}
<input type="submit" name="new_line" value="seuraava raaka-aine">
<br>
Ohje:
<br>
<textarea name="recipe_description" rows="10" cols="50">
{{ recipe.description or '' }}
</textarea>
<br>
<input type="submit" name="send_recipe" value="Tallenna">
<input type="hidden" name="ingredient_lines" value={{ ingredient_lines or 1 }}>
</form>
{% endblock %}