{% extends "layout.html" %}
{% block title %}Kirjaudu sisään{% endblock %}
{% block content %}
    <div class="row">
        <div class="form-group col-4">
            <form action="/login" method="POST">
            <input type="text" class="form-control" name="username" placeholder="käyttäjätunnus" minlength="3"
                oninvalid="setCustomValidity('Vähintään kolme merkkiä')"
                onvalid="setCustomValidity('')">
            <input type="password" class="form-control" name="password" placeholder="salasana" minlength="4"
                oninvalid="setCustomValidity('Vähintään neljä merkkiä')"
                onvalid="setCustomValidity('')">
            <input type="submit" class="btn btn-primary" name="submit_login" value="Kirjaudu">
            tai
            <a href="/new_user_form"> luo uusi tili</a>
            </form>
        </div>
    </div>
{% endblock %}