{% extends "layout.html" %}
{% block title %}{{ params.username }}{% endblock %}
{% block content %}
    <h2>{{ params.username }}</h2>
    {% if recipes %}
        <b>Reseptit:</b>
        {% include "/recipe/elements/recipe_list.html" %}
    {% endif %}
    {% if recipe_comments %}
        <b>Kommenttihistoria:</b>
        <form action="/user?username={{ params.username }}" method="POST">
            <button type="submit" name="hide_comments" value="{{ params.username }}">Piilota</button>
        </form>
        <hr>
        {% for comment in recipe_comments %}
            (<a href="/recipe?recipe_id={{ comment.recipe_id }}#comment_{{ comment.id }}">Konteksti</a>)
            <br />
            {% include "/recipe/elements/comment.html" %}
        {% endfor %}
    {% else %}
        <form action="/user?username={{ params.username }}" method="POST">
            Näytä käyttäjän kommentit: 
            <button type="submit" name="show_comments" value="{{ params.username }}">Näytä</button>
        </form>
    {% endif %}
    <br />
    {% if params.user_rights %}
        <form action="/delete_user?username={{ params.username }}" method="POST">
            Poista tili:
            <button type="submit" name="delete_button" onclick="return confirm('Haluatko varmasti poistaa käyttäjätilin?')" value={{ params.username }}>
                poista
            </button>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
    {% endif %}
{% endblock %}